## from project: ignores for editors, environments, etc.
.vscode/
*.code-workspace
.venv*/
*.venv*/
.test*/
ssh-identc

## from GitHub: Python ignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*~
.*.sw?
